.level-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.level-card:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.level-card-header {
     background-color: #007bff;
     color: #fff;
     padding: 10px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.level-card-body {
     padding: 20px;
}

.level-parameter {
     margin-bottom: 10px;
     font-size: 16px;
}

.form-container {
     margin-top: 50px;
}

.form-group {
     width: 50%;
     margin-bottom: 20px;
}